<div>
    {{#if user}}
        <p>Greetings, {{user}}!</p>
    {{else}}
        <p>Greetings!</p>
    {{/if}}

    <p>The following report shows which pages on the {{site_name}} website, for which you are listed as the Secondary Contact, will require your review within the next {{review_time}} days.</p>

    <table width="100%" cellspacing="0" cellpadding="1" style="width: 100%; border: 1px solid #000; background: #e2e2e2; padding: 6px; border-collapse: collapse">
        <thead>
        <tr style="border-collapse: collapse; padding: 0; margin: 0;">
            <th width="50%" style="width: 50%; border: 1px solid #000; padding: 6px; margin: 0;">
                Page Title
            </th>
            <th width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                Page Steward
            </th>
            <th width="15%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                Due Date
            </th>
            <th width="15%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                Edit Link
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each report}}
            <tr style="border-collapse: collapse; padding: 0; margin: 0;">
                <td width="50%" style="width: 50%; border: 1px solid #000; padding: 6px; margin: 0;">
                    <a href="{{this.permalink}}">{{this.post_title}}</a>
                </td>
                <td width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.author_email}}
                </td>
                <td width="15%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.due_date}}
                </td>
                <td width="15%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                    <a href="{{this.edit_link}}">Edit this page</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <p>For reference, here is the same list of pages in a numbered list, rather than a table:</p>

    <ol>
        {{#each report}}
            <li><a href="{{this.permalink}}">{{this.post_title}}</a> - Due on {{this.due_date}} (<a href="{{this.edit_link}}">Edit this page</a>)</li>
        {{/each}}
    </ol>

    <p><b>This is an automatic email. Please do not reply directly to this email.</b></p>

    <p>Thank you for your attention in this matter.</p>
</div>