<div>
    <p>Greetings, {{steward-name}}!</p>

    <p>{{steward-name}}, thank you for completing the review of <a href="{{permalink}}">{{post.post_title}}</a> for this review cycle. The next review of this page will be due
        {{next-review}}.</p>

    <p><b><i>What happens next?</i></b></p>

    <ul>
        <li>At {{prompt-words.initial}} ({{prompt-times.initial}}), {{prompt-words.secondary}} ({{prompt-times.secondary}}), and
            {{prompt-words.tertiary}} ({{prompt-times.tertiary}}) days from the due date you will receive an email showing any pages that have not been reviewed.</li>
        <li>{{prompt-words.tertiary-uc}} ({{prompt-times.tertiary}}) days from the due date emails will also go out to the supervisor email address, and the
            {{managing-office}} staff member(s) assigned to support these pages notifying them of the list of pages pending review.</li>
        <li>On the due date, if any pages haven’t been reviewed, emails will go to all parties. They will continue to be sent daily while pages remain out of compliance.</li>
    </ul>

    <p><b>This is an automatic email. Please do not reply directly to this email.</b></p>

    <p>Thank you for your work in keeping your pages up-to-date.</p>
</div>