<div>
    {{#if user}}
        <p>Greetings, {{user}}!</p>
    {{else}}
        <p>Greetings!</p>
    {{/if}}

    <p><b>You are receiving this email because you are the assigned web steward for the following page(s). These pages on the {{site_name}} website will require your <font color="red">immediate</font> review.</b></p>

    <table width="100%" cellspacing="0" cellpadding="1" style="width: 100%; border: 1px solid #000; background: #e2e2e2; padding: 6px; border-collapse: collapse">
        <thead>
        <tr style="border-collapse: collapse; padding: 0; margin: 0;">
            <th width="40%" style="width: 50%; border: 1px solid #000; padding: 6px; margin: 0;">
                Page Title
            </th>
            <th width="20%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                Last Reviewed
            </th>
            <th width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                Due Date
            </th>
            <th width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                Edit Link
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each report}}
            <tr style="border-collapse: collapse; padding: 0; margin: 0;">
                <td width="40%" style="width: 40%; border: 1px solid #000; padding: 6px; margin: 0;">
                    <a href="{{this.permalink}}">{{this.post_title}}</a>
                </td>
                <td width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.last_reviewed}}
                </td>
                <td width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.due_date}}
                </td>
                <td width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                    <a href="{{this.edit_link}}">Edit this page</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <p>For reference, here is the same list of pages in a numbered list, rather than a table:</p>

    <ol>
        {{#each report}}
            <li><a href="{{this.permalink}}">{{this.post_title}}</a> -
                Last reviewed on {{this.last_reviewed}} -
                Due on {{this.due_date}}
                (<a href="{{this.edit_link}}">Edit this page</a>)</li>
        {{/each}}
    </ol>

    <p><b>What happens next?</b></p>
    <ul>
    <li>Starting today, <font color="red"><b>daily</b></font> emails will be sent to you, the secondary email address, and the {{managing-office}} liaison assigned to support this work. They will continue to be sent daily while pages remain out of compliance.</li>
    </ul>

    <p><b>This is an automatic email. Please do not reply directly to this email.</b></p>

    <p>Thank you for your attention in this matter.</p>
</div>