<div>
    {{#if user}}
        <p>Greetings, {{user}}!</p>
    {{else}}
        <p>Greetings!</p>
    {{/if}}

    <p><b>You are receiving this email because you are the {{managing-office}} liaison for the following {{site_name}} page(s) that are currently due for review. </b></p>

    <p>Please note that the page steward has already received emails at the {{prompt-times.initial}}-, {{prompt-times.secondary}}-, and {{prompt-times.tertiary}}- day marks notifying them of the deadline. The secondary email associated with the page(s) was notified of pending pages {{prompt-times.tertiary}} days before the due date.</p>

    <table width="100%" cellspacing="0" cellpadding="1" style="width: 100%; border: 1px solid #000; background: #e2e2e2; padding: 6px; border-collapse: collapse">
        <thead>
        <tr style="border-collapse: collapse; padding: 0; margin: 0;">
            <th width="35%" style="width: 35%; border: 1px solid #000; padding: 6px; margin: 0;">
                Page Title
            </th>
            <th width="15%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                Page Steward
            </th>
            <th width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0">
                Secondary Contact
            </th>
            <th width="10%" style="width: 10%; border: 1px solid #000; padding: 6px; margin: 0;">
                Last Reviewed
            </th>
            <th width="10%" style="width: 10%; border: 1px solid #000; padding: 6px; margin: 0;">
                Due Date
            </th>
            <th width="10%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0;">
                Edit Link
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each report}}
            <tr style="border-collapse: collapse; padding: 0; margin: 0;">
                <td width="35%" style="width: 35%; border: 1px solid #000; padding: 6px; margin: 0;">
                    <a href="{{this.permalink}}">{{this.post_title}}</a>
                </td>
                <td width="15%" style="width: 15%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.author_email}}
                </td>
                <td width="20%" style="width: 20%; border: 1px solid #000; padding: 6px; margin: 0">
                    {{this.supervisor_email}}
                </td>
                <td width="10%" style="width: 10%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.last_reviewed}}
                </td>
                <td width="10%" style="width: 10%; border: 1px solid #000; padding: 6px; margin: 0;">
                    {{this.due_date}}
                </td>
                <td width="10%" style="width: 10%; border: 1px solid #000; padding: 6px; margin: 0;">
                    <a href="{{this.edit_link}}">Edit this page</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <p>For reference, here is the same list of pages in a numbered list, rather than a table:</p>

    <ol>
        {{#each report}}
            <li><a href="{{this.permalink}}">{{this.post_title}}</a> - Last reviewed on {{this.last_reviewed}} - Due on {{this.due_date}} (<a href="{{this.edit_link}}">Edit this page</a>)</li>
        {{/each}}
    </ol>

    <p><b>What happens next?</b></p>
    <ul>
        <li>You will now get <font color="red"><b>daily</b></font> emails while pages remain out of compliance. <b>Please reach out to the steward and supervisor to see if support is needed and encourage them to complete the content review.</b> Pages that remain out of compliance will be considered for deletion.</li>
        <li>Once a page has been reviewed everyone will receive an email notification confirming the successful completion of the review cycle.</li>
    </ul>
</div>